body {
  background-color: black;
  color: white;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 0;
}

.scene {
  z-index: 4;
  position: absolute;
  top: 7.3%;
  left: 0;
  width: 100%;
  height: auto;

}

.weather {
  z-index: 5;
}

.animation {
  transition: 2.5s;
}

#rainContainer {
  z-index: 5;
  position: absolute;
  left: calc(50vw - 500px);
  top: 21%;
  width: 1000px;
  height: 560px;
  background-color: none;
  opacity: 100%;
  overflow: hidden;
}

#rainsib1 {
  width: 25px;
  height: 25px;
  float: left;
  background-color: #79A4BD;
  z-index: 12;
  position: fixed;
  top: 15%;
  left: 35%;
  /* margin: 5%; */
  /* margin-left: 40vh; */
  transform: translate(-50%, -50%)
}

#rainsib2 {
  width: 1000px;
  height: 500px;
  opacity: 0;
}

#rainsib2 img {
  object-fit: contain;
  scale: 1.2;
}

#snowContainer {
  z-index: 5;
  position: absolute;
  left: calc(50vw - 500px);
  top: 21%;
  width: 1000px;
  height: 560px;
  background-color: none;
  opacity: 100%;
  overflow: hidden;
}

#snowsib1 {
  width: 25px;
  height: 25px;
  float: left;
  background-color: #6894A6;
  z-index: 12;
  position: fixed;
  top: 15%;
  left: 45%;
  /* margin: 5%; */
  /* margin-left: 40vh; */
  transform: translate(-50%, -50%)
}

#snowsib2 {
  width: 1000px;
  height: 500px;
  opacity: 0;
}

#snowsib2 img {
  object-fit: contain;
  width: 100%;
}

#thunderContainer {
  z-index: 5;
  position: absolute;
  left: calc(50vw - 500px);
  top: 21%;
  width: 1000px;
  height: 565px;
  background-color: none;
  opacity: 100%;
  overflow: hidden;
}

#thundersib1 {
  width: 25px;
  height: 25px;
  float: left;
  background-color: #364F59;
  z-index: 12;
  position: fixed;
  top: 15%;
  left: 55%;
  /* margin: 5%; */
  /* margin-left: 40vh; */
  transform: translate(-55%, -50%)
}

#thundersib2 {
  width: 1000px;
  height: 700px;
  opacity: 0;
  background-color: #090f11;
}

#thundersib2 img {
  object-fit: contain;
  scale: 1.5;
}

#sceneContainer {
  position: absolute;
  left: calc(50vw - 500px);
  top: 15%;
  width: 1000px;
  height: 750px;
  background-color: black;
  overflow: hidden;
}


/* ~ selects sibling elements */
#rainsib1:hover~#rainsib2 {
  opacity: 100%;
}

#snowsib1:hover~#snowsib2 {
  opacity: 100%;
}

#thundersib1:hover~#thundersib2 {
  opacity: 80%;
}

img {
  max-width: 100%;
  max-height: auto;
  z-index: 0;
  display: block;
}

.item {
  z-index: 14;
  cursor: pointer;
  position: fixed;
  top: 15%;
  left: 65%;
  transform: translate(-55%, -50%)
}

#toggleText {
  display: none;
}

.hiddenText {
  display: none;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  font-family: monospace;
  letter-spacing: 0.5vw;
}

.item img {
  width: 35px; 
  height: 35px;
}

#toggleText:checked + .item + .hiddenText {
  display: block;
}

