body {
    background-color: black;
    color: white;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
    margin-bottom: 0;
}

#sceneContainer {
    position: absolute;
    left: calc(50vw - 500px);
    top: 15%;
    width: 1000px;
    height: 500px;
    background-color: darkslategrey;
    overflow: hidden;
  }

.scene {
    z-index: 4;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;

  }

.center {
    width: 40vw;
    height: 70vh;
    margin-left: 30vw;
    margin-top: 15vh;
    z-index: 2;
  }

.weather {
    z-index: 5;
    position: absolute;
    left: calc(52vw - 500px);
    top: 28%;
    width: 140vw;
    height: auto;
    overflow: hidden;
  }
  
.animation{
    transition: 2.5s;
  }
  
  #sibling1 {
    width: 3vh;
    height: 3vh;
    float: left;
    background-color: #79A4BD;
    z-index:12;
    position:fixed;
    top: 5%;
    margin: 5%;
  }
  /* #6894A6
  #364F59 */

  #sibling2 {
    width: 1000px;
    height: 500px;
    opacity: 0;
  }

  #sibling2 img {
    height: 140%;
    width: auto;
  }
  #sceneContainer {
    position: absolute;
    left: calc(50vw - 500px);
    top: 15%;
    width: 1000px;
    height: 750px;
    background-color: black;
    overflow: hidden;
  }
  
  /* ~ selects sibling elements */
  #sibling1:hover ~ #sibling2 {
    opacity: 100%;
  }

  
  #controller {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
  }
  
  /* + selects only the next item */
  /* #controller:hover + .reciever {
    background-color: black;
  } */

img {
    max-width: 100%;
    max-height: auto;
    z-index: 0;
    display:block;
}



  
  @media only screen and (max-width: 1000px) {
    .center {
      margin-left: 0vw;
      margin-top: 0vw;
      width: 100vw;
      height: 100vh;
    }
  }