body {
    background-color: black;
    color: white;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* .galaxy {
  background-image:
  background-color: black;

} */
table.center {
  margin-left: auto;
  margin-right: auto;
}
th, td , caption {
  padding-right: 35px;
  padding-left: 35px;
  font-size:small;
  font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
    text-align: center;
    margin-top:200px;
}

a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
  a:active {
    color: white;
    text-decoration: underline;
  }

#selectEnter {
    font-size: 12px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif, sans-serif;
    animation: blink 4s infinite;
    animation-fill-mode: both;
}

#selectStandard {
    font-size: 12px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif, sans-serif;
}
 
 @keyframes blink {
    0% { opacity: .2 }
    40% { opacity: .85 }
    50% { opacity: 1 }
    60% {opacity: .85 }
    100% { opacity: 0.2 }
    }