body {
  background-color: black;
  color: white;
  vertical-align: middle;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

p {
  z-index: 6;
  position: relative;
  font-size: 14px;
  text-align: center;
  margin-top: 200px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}

#selectEnter {
  font-size: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  animation: blink 4s infinite;
  animation-fill-mode: both;
}

#selectDisembark {
  z-index: 6;
  position: relative;
  font-size: 12px;
  text-align: center;
  margin-top: 260px;
  bottom: 25%;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  animation: blink 4s infinite;
  animation-fill-mode: both;
}

#selectStandard {
  font-size: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}


#sceneContainer {
  z-index: 4;
  position: absolute;
  left: calc(50vw - 500px);
  top: 15%;
  width: 1000px;
  height: 750px;
  background-color: black;
  overflow: hidden;
}

.below {
  margin-top: 400px;
}

.frame {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: bounce 1s infinite;
  transform-origin: center;
  transform: scale(102%);
}

.scene {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: scene-move 6s linear infinite;
}

@keyframes blink {
  0% {
    opacity: .2
  }

  40% {
    opacity: .85
  }

  50% {
    opacity: 1
  }

  60% {
    opacity: .85
  }

  100% {
    opacity: 0.2
  }
}

@keyframes scene-move {
  0% {
    translate: 0% 0%;
  }

  25% {
    translate: .5% 0%;
  }

  50% {
    translate: 0% 0%;
  }

  75% {
    translate: -1% 0%;
  }
}

@keyframes bounce {
  0% {
    translate: 0% 0%;
  }

  50% {
    translate: 0% -.5%;
  }

  100% {
    translate: 0% 0%;
  }
}